# Visit https://github.com/lowlighter/metrics#-documentation for full reference

name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{ cron: "0 * * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          #  - read:user
          #  - read:org
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: AmrElsayyad
          template: markdown
          filename: README.md
          markdown: .github/metrics-template.md
          markdown_cache: .cache
          config_output: markdown
          base: ""
          config_timezone: Africa/Cairo

          # RSS plugin
          plugin_rss: yes
          plugin_rss_limit: 4
          plugin_rss_source: https://medium.com/feed/@AmrElsayyad
